$red-primary: #DC3E22;
$red-hover: #B7280F;
$red-bar: #B7280F;
$red-bar-hover: #EE735D;

$green-primary: #A8B64F;
$green-hover: #899441;

$gray-primary: #F4F4F4;
$grey-border: #C4C4C4;

$text-main: #333333;
$text-secondary: #999999;

$blue-hover: #000051;
